@use "../abstracts/default";

#header-btn-wrapper .menu-dark-icon {
  display: none;
}

#header-btn-wrapper .menu-close-btn {
  display: none;
}

#header-btn-wrapper.active {
  & .menu-close-btn {
    display: block;
  }

  & .menu-btn {
    display: none;
  }
}

body.body-dark-mode {
  #header-btn-wrapper .menu-light-icon {
    display: none;
  }

  #header-btn-wrapper .dark-menu-btn {
    display: block;
  }

  #header-btn-wrapper.active {
    & .dark-menu-btn {
      display: none;
    }

    & .dark-menu-close-btn {
      display: block;
    }
  }
  #header-nav-menu {
    background-color: default.$dark-mode-color;
    // transition: all 0.5s ease;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding-top: 20px;
}

#header-nav-menu {
  display: flex;
  justify-content: space-between;
  width: 86%;
  min-width: 275px;
  background-color: white;
  transition: all 0.5s;
}

header nav ul {
  display: none;
  padding: 8px 0;

  li {
    font-family: "Poppins", sans-serif;
    margin-bottom: 35px;
    cursor: pointer;
  }
}

header nav.active {
  position: fixed;
  top: 20px;
  height: 100dvh;
  z-index: 999;
  background-color: white;

  ul {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 80px;
    z-index: -1;
  }
}

header nav ul.active {
  display: block;
}

#header-action-wrapper {
  display: none;
  text-align: center;
  // a {
  //     color: black;
  // }
}

#header-action-wrapper.active {
  display: block;
  position: absolute;
  top: 347px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;

  a {
    font-family: "Poppins", sans-serif;
    margin-bottom: 28px;
  }

  button {
    font-family: "Poppins", sans-serif;
    padding: 15px 40px;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
  }

  button:active {
    transform: scale(0.98);
  }
}

.header-logo {
  cursor: pointer;
}

.nav-actions {
  display: flex;
}

#toggletheme {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 36px;
}

.careerpath {
  padding-top: 40px;
}

#header-btn-wrapper {
  cursor: pointer;
}
