@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//  font-family: "Poppins", sans-serif;
//  font-family: "Plus Jakarta Sans", sans-serif;
//  font-family: "Open Sans", sans-serif;

//space for fonts 

$dark-mode-color: #1E2A39;
$primary-color: #052A44; //for icons backgrounds
$primary-goldenrod-color: #E8DB84;
$primary-text-color:#183B56;//for text in mobile version

@mixin primary-btn-mobile {
    color: white;
    padding: 8px 12px;
    background-color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", sans-serif;

}

@mixin primary-btn-desktop {
    color: white;
    padding: 15px 43px;
    background-color: $primary-color;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", sans-serif;
}




// javascript switch-theme style. dont tuch!
body {
    transition: background-color 0.5s ease;
}

.body-dark-mode {
    background-color: $dark-mode-color;
}

.switch-theme.active {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}
