@use "../abstracts/default";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: "Poppins", sans-serif;
$first-color: #052A44;
$second-color: #071210;
$font-weight: 400;
$font-size: 16px;
$line-height: 36px;

@mixin mobile {

    @media (max-width: 768px) {
    @content;
}
}

.footer {
  font-family: $font-family;
  background-color: #F8F9FA;
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;

  @include mobile {
    flex-direction: column;
    text-align: center;
    align-items: center; 
  }
}


.foot-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile 
    { align-items: center; }
    
    h4{
        font-size: 20px;
        font-weight: 500;
        color: $first-color;
        font-style: medium;
    }

    address {
        font-style: normal;

        p {
            font-size: $font-size;
            line-height: $line-height;
            font-weight: $font-weight;
            color: $second-color;
            margin: 0;
        }
    }
}
// social media links

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p { margin: 0; color: $second-color; }
}

.social-links {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0 auto;

        @include mobile {
            justify-content: center;
        }

    img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
    &:hover { transform: scale(1.1);
    }
}
}

// right side

.right-side {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;

    @include mobile {
        align-items: center;
    }

    p {
        color: $second-color;
        font-size: $font-size;
        line-height: 5px;
        font-weight: $font-weight;
        margin: 0;
    }

    a[href^="mailto:"]{
        color: $second-color!important; 
        font-size: $font-size;
        line-height: $line-height;
        font-weight: $font-weight;
        text-decoration: none;

        }
    }


.copyright {
    width: 100%; 
    text-align: center;
    border-top: 1px solid #ddd; 
    padding-top: 20px;
    margin-top: 20px;
    color: $second-color;
}

