* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.mybox-2 {
    width: 100px;
    height: 200px;
    background-color: red;
}