@use "./abstracts/default";
@use "./abstracts/reset";
@use "./header/header";
@use "./about-us/about-us";
@use "./our-services/our-services";
@use "./reviews/reviews";
@use "./stories/stories";
@use "./form-section/form-section.scss";
@use "./footer/footer";
